.bt{
	padding: 0px 15px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	border: 0px;
	text-transform: uppercase;
	font-weight: 600;
	outline: none;
}
.bt-primary-text{
	color: #2D9CDB;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	font-size: 14px;
	outline: none;

	&:hover{
		cursor: pointer;
		color: #2094D6;
		text-decoration: none;
	}
}
.bt-primary{
	background: #2D9CDB;
	border: 1px solid #2D9CDB;
	color: #ffffff;
	outline: none;

	&:hover{
		background: #2094D6;
		cursor: pointer;
	}
}
.bt-success{
	background: #27AE60;
	border: 1px solid #27AE60;
	color: #ffffff;
	outline: none;

	&:hover{
		background: #19A654;
		cursor: pointer;
	}
}
.bt-primary-outline{
	border: 1px solid #2D9CDB;
	background: #ffffff;
	color: #2D9CDB;
	outline: none;

	&:hover{
		background: #2D9CDB;
		color: #ffffff;
		cursor: pointer;
	}
}
.bt-tiny{
	padding: 0px 10px;
    font-size: 12px;
    line-height: 0px;
	outline: none;
}
