.drawer{
	width: 500px;
	height: 100%;
	background: #ffffff;
	position: absolute;
	right: 0px;
	box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.1);
	overflow-x: hidden;
	display: none;
	font-family: 'Exo 2', sans-serif;

	.header-drawer{
		width: 100%;
		height: 60px;
		background: #2D9CDB;
		display: flex;
		align-items: center;
		padding: 0px 20px;

		.normal-text{
			margin: 0 auto;
			color: #ffffff;
			font-weight: 100;
		}
	}

	.content-drawer{
		padding: 30px;

		.title-drawer{
			color: #828282;
			font-weight: 100;
		}

		.group-drawer{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.input-group-drawer{
				width: 50%;
			}

			.bt-tiny{
				margin-top: 52px;
				margin-left: 30px;
			}
		}
	}
}
