.input-group{
	display: flex;
	flex-direction: column;
	font-family: 'Exo 2', sans-serif;
}
.input-style{
	height: 50px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	background: #ffffff;
	padding: 0px 20px;
	color: #4F4F4F;
	font-size: 16px;
	margin-top: 5px;
}
