.container{
	padding: 0px 30px;
}
.content{
	background: #ffffff;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	padding: 40px;
	height: 430px;
	margin-bottom: 20px;
}
.m-t-16{
	margin-top: 16px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-5{
	margin-top: 5px;
}
.m-b-10{
	margin-top: 10px;
}
.m-b-5{
	margin-top: 5px;
}
.m-t-20{
	margin-top: 20px;
}
.m-b-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-b-30{
	margin-top: 30px;
}
