.col-1{
    ;
    margin: 0px 10px;
    width: 8.3333%;
}
.col-2{
    margin: 0px 10px;
    width: 16.6666%;
}
.col-3{
    margin: 0px 10px;
    width: 42.9999%;
}
.col-4{
    margin: 0px 10px;
    width: 33.3322%;
}
.col-5{
    margin: 0px 10px;
    width: 41.6655%;
}
.col-6{
    margin: 0px 10px;
    width: 50%;
}
.col-7{
    margin: 0px 10px;
    width: 58.3333%;
}
.col-8{
    margin: 0px 10px;
    width: 66.6666%;
}
.col-9{
    margin: 0px 10px;
    width: 74.9999%;
}
.col-10{
    margin: 0px 10px;
    width: 83.3333%;
}
.col-11{
    margin: 0px 10px;
    width: 91.6666%;
}
.col-12{
    margin: 0px 10px;
    width: 100%;
}
