.logo-black{
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url('../images/black-logo.svg');
}
.divisor-vertical{
    width: 1px;
    height: 29px;
    display: inline-block;
    background-image: url('../images/divisor-vertical.svg');
}
.icon-exit{
    width: 21px;
    height: 22px;
    display: inline-block;
    background-image: url('../images/icon-exit.svg');
}
.icon-right-arrow{
    width: 19px;
    height: 13px;
    display: inline-block;
    background-image: url('../images/icon-right-arrow.svg');
}
.icon-add{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../images/icon-add.svg');

    &:hover{
    	background-image: url('../images/icon-add-white.svg');
    }
}
.icon-audio{
	width: 15px;
	height: 24px;
	display: block;
	background-image: url('../images/icon-audio.svg');

	&:hover{
		background-image: url('../images/icon-audio-hover.svg');
	}
}
.icon-chat{
	width: 31px;
	height: 25px;
	display: block;
	background-image: url('../images/icon-chat.svg');

	&:hover{
		background-image: url('../images/icon-chat-hover.svg');
	}
}
.icon-camera{
	width: 24px;
	height: 21px;
	display: block;
	background-image: url('../images/icon-camera.svg');

	&:hover{
		background-image: url('../images/icon-camera-hover.svg');
	}
}
.icon-no-region{
    width: 161px;
    height: 214px;
    display: block;
    background-image: url('../images/icon-no-region.svg');
}
