.navbar{
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #ffffff;
	position: absolute;
	top: 0;
	z-index: 1;
    font-family: 'Exo 2', sans-serif;

    .left-content{
        width: 20%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;

        .user-name{
            display: flex;
            flex-direction: column;
        }
    }
    .center-content{
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .link-menu-navbar{
            padding: 0px 20px;
            color: #828282;
            font-size: 14px;
        }
    }
    .right-content{
        width: 20%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
}

.noAbsolute{
	position: relative !important;
}
