.sub-nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	align-self: center;
	margin-top: 80px !important;
    margin-bottom: 20px;
	font-family: 'Exo 2', sans-serif;

	.breadcrumb{
		display: flex;
		flex-direction: column;
		margin-top: 20px;

		.title-page{
			font-size: 32px;
			color: #4F4F4F;
			font-weight: 100;
			margin-bottom: 10px;
		}
	}
}
