@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,500,500i,600,600i,700');

body{
    font-family: 'Exo 2', sans-serif;
}

h1{
    font-size: 32px;
	font-weight: 100;
}
h2{
    font-size: 28px;
	font-weight: 100;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
}
p{
    font-size: 16px;
}
a{
    color: #4F4F4F;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.tiny-text{
    font-size: 12px;
    color: #828282;
}
.normal-text{
	font-weight: 500;
	font-size: 16px;
	color: #828282;
}
.bold-text{
    font-weight: 400;
}
.super-bold-text{
    font-weight: 600;
}