.teams{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Exo 2', sans-serif !important;

	.box-team{
		width: 250px;
		height: 150px;
		border-radius: 5px;
		border: 1px solid #BDBDBD;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #828282;
		margin: 0px 14px 25px 13px;

		.n-agentes{
			display: none;
		}
		.b-action{
			display: none;
		}

		&:hover{
			.n-agentes{
				display: block;
			}
			.b-action{
				display: block;
			}
		}
	}
}
