.login-area{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: -webkit-fill-available;
}
.left-content{
    width: 57%;
    background-image: url("../images/bg-login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: 'Exo 2', sans-serif;
    align-items: center;

    .content-login{
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        color: #ffffff;

        h1{
            padding-top: 40px;
            padding-bottom: 30px;
        }
        p{
            width: 50%;
            margin: 0 auto;
            font-weight: 100;
        }
    }
}
.right-content{
    width: 43%;
    background: #ffffff;
    color: #4F4F4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;

    h1{
        font-weight: 100;
        text-align: center;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;

        .input-style-login{
            width: 350px;
            height: 50px;
            border-radius: 5px;
            background: #F2F2F2;
            padding: 0px 15px;
            color: #828282;
            font-size: 14px;
            font-weight: 100;
            border: 0px;
            margin: 10px 0px;
            outline: none;
        }

        .action-area{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;

            .btn-login{
                height: 50px;
                border-radius: 5px;
                padding: 0px 30px;
                color: #ffffff;
                line-height: 50px;
                border: 0px;
                background: #22C567;
                text-transform: uppercase;

                &:hover{
                    cursor: pointer;
                    background: #2AD170;
                }
            }
        }

        .login-div{
            display: flex;
            flex-direction: column;
        }

        .recovery-password{
            display: none;
        }
    }
}
