@import url("https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,500,500i,600,600i,700");
.bt {
  padding: 0px 15px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  border: 0px;
  text-transform: uppercase;
  font-weight: 600;
  outline: none; }

.bt-primary-text {
  color: #2D9CDB;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  outline: none; }
  .bt-primary-text:hover {
    cursor: pointer;
    color: #2094D6;
    text-decoration: none; }

.bt-primary {
  background: #2D9CDB;
  border: 1px solid #2D9CDB;
  color: #ffffff;
  outline: none; }
  .bt-primary:hover {
    background: #2094D6;
    cursor: pointer; }

.bt-success {
  background: #27AE60;
  border: 1px solid #27AE60;
  color: #ffffff;
  outline: none; }
  .bt-success:hover {
    background: #19A654;
    cursor: pointer; }

.bt-primary-outline {
  border: 1px solid #2D9CDB;
  background: #ffffff;
  color: #2D9CDB;
  outline: none; }
  .bt-primary-outline:hover {
    background: #2D9CDB;
    color: #ffffff;
    cursor: pointer; }

.bt-tiny {
  padding: 0px 10px;
  font-size: 12px;
  line-height: 0px;
  outline: none; }

.bg-gray {
  background: #f8f8f8; }

.col-1 {
  margin: 0px 10px;
  width: 8.3333%; }

.col-2 {
  margin: 0px 10px;
  width: 16.6666%; }

.col-3 {
  margin: 0px 10px;
  width: 42.9999%; }

.col-4 {
  margin: 0px 10px;
  width: 33.3322%; }

.col-5 {
  margin: 0px 10px;
  width: 41.6655%; }

.col-6 {
  margin: 0px 10px;
  width: 50%; }

.col-7 {
  margin: 0px 10px;
  width: 58.3333%; }

.col-8 {
  margin: 0px 10px;
  width: 66.6666%; }

.col-9 {
  margin: 0px 10px;
  width: 74.9999%; }

.col-10 {
  margin: 0px 10px;
  width: 83.3333%; }

.col-11 {
  margin: 0px 10px;
  width: 91.6666%; }

.col-12 {
  margin: 0px 10px;
  width: 100%; }

body {
  font-family: 'Exo 2', sans-serif; }

h1 {
  font-size: 32px;
  font-weight: 100; }

h2 {
  font-size: 28px;
  font-weight: 100; }

h3 {
  font-size: 1rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1rem; }

p {
  font-size: 16px; }

a {
  color: #4F4F4F;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.tiny-text {
  font-size: 12px;
  color: #828282; }

.normal-text {
  font-weight: 500;
  font-size: 16px;
  color: #828282; }

.bold-text {
  font-weight: 400; }

.super-bold-text {
  font-weight: 600; }

.input-group {
  display: flex;
  flex-direction: column;
  font-family: 'Exo 2', sans-serif; }

.input-style {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  background: #ffffff;
  padding: 0px 20px;
  color: #4F4F4F;
  font-size: 16px;
  margin-top: 5px; }

.logo-black {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: url("../images/black-logo.svg"); }

.divisor-vertical {
  width: 1px;
  height: 29px;
  display: inline-block;
  background-image: url("../images/divisor-vertical.svg"); }

.icon-exit {
  width: 21px;
  height: 22px;
  display: inline-block;
  background-image: url("../images/icon-exit.svg"); }

.icon-right-arrow {
  width: 19px;
  height: 13px;
  display: inline-block;
  background-image: url("../images/icon-right-arrow.svg"); }

.icon-add {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../images/icon-add.svg"); }
  .icon-add:hover {
    background-image: url("../images/icon-add-white.svg"); }

.icon-audio {
  width: 15px;
  height: 24px;
  display: block;
  background-image: url("../images/icon-audio.svg"); }
  .icon-audio:hover {
    background-image: url("../images/icon-audio-hover.svg"); }

.icon-chat {
  width: 31px;
  height: 25px;
  display: block;
  background-image: url("../images/icon-chat.svg"); }
  .icon-chat:hover {
    background-image: url("../images/icon-chat-hover.svg"); }

.icon-camera {
  width: 24px;
  height: 21px;
  display: block;
  background-image: url("../images/icon-camera.svg"); }
  .icon-camera:hover {
    background-image: url("../images/icon-camera-hover.svg"); }

.icon-no-region {
  width: 161px;
  height: 214px;
  display: block;
  background-image: url("../images/icon-no-region.svg"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar {
  width: 100%;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #ffffff;
  position: absolute;
  top: 0;
  z-index: 1;
  font-family: 'Exo 2', sans-serif; }
  .navbar .left-content {
    width: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; }
    .navbar .left-content .user-name {
      display: flex;
      flex-direction: column; }
  .navbar .center-content {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; }
    .navbar .center-content .link-menu-navbar {
      padding: 0px 20px;
      color: #828282;
      font-size: 14px; }
  .navbar .right-content {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px; }

.noAbsolute {
  position: relative !important; }

.sub-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-top: 80px !important;
  margin-bottom: 20px;
  font-family: 'Exo 2', sans-serif; }
  .sub-nav .breadcrumb {
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
    .sub-nav .breadcrumb .title-page {
      font-size: 32px;
      color: #4F4F4F;
      font-weight: 100;
      margin-bottom: 10px; }

.container {
  padding: 0px 30px; }

.content {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 40px;
  height: 430px;
  margin-bottom: 20px; }

.m-t-16 {
  margin-top: 16px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-5 {
  margin-top: 5px; }

.m-b-10 {
  margin-top: 10px; }

.m-b-5 {
  margin-top: 5px; }

.m-t-20 {
  margin-top: 20px; }

.m-b-20 {
  margin-top: 20px; }

.m-t-30 {
  margin-top: 30px; }

.m-b-30 {
  margin-top: 30px; }

.drawer {
  width: 500px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  right: 0px;
  box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  display: none;
  font-family: 'Exo 2', sans-serif; }
  .drawer .header-drawer {
    width: 100%;
    height: 60px;
    background: #2D9CDB;
    display: flex;
    align-items: center;
    padding: 0px 20px; }
    .drawer .header-drawer .normal-text {
      margin: 0 auto;
      color: #ffffff;
      font-weight: 100; }
  .drawer .content-drawer {
    padding: 30px; }
    .drawer .content-drawer .title-drawer {
      color: #828282;
      font-weight: 100; }
    .drawer .content-drawer .group-drawer {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .drawer .content-drawer .group-drawer .input-group-drawer {
        width: 50%; }
      .drawer .content-drawer .group-drawer .bt-tiny {
        margin-top: 52px;
        margin-left: 30px; }
