.teams {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Exo 2', sans-serif !important; }
  .teams .box-team {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #828282;
    margin: 0px 14px 25px 13px; }
    .teams .box-team .n-agentes {
      display: none; }
    .teams .box-team .b-action {
      display: none; }
    .teams .box-team:hover .n-agentes {
      display: block; }
    .teams .box-team:hover .b-action {
      display: block; }
