.group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  display: none; }
  .group .input-group {
    width: 75%; }
  .group .action-input {
    display: block;
    align-items: center;
    align-self: center; }

.content .center-content {
  color: #BDBDBD;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  margin-top: 60px; }
  .content .center-content span {
    font-weight: 600;
    font-size: 24px;
    font-weight: bold;
    color: #BDBDBD;
    text-align: center;
    margin: 20px 0px; }
